.button{
    display: inline-block;
    background-color: #D6000D;
    padding: 8px 35px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 25px;
    color: #fff;
}

.button:hover{
    /* background-color: rgb(110, 2, 2); */
    opacity: 0.8;
}



.action{
    text-align: center;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: black;
}

.navigation{
    font-size: 20px;    
    margin-right: 40px;
    margin-top: 15px;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 10px 15px;
}

.main-title{
    font-size: 50px;
    margin-top: 5px;
    margin-left: 20px;
    color: #D6000D;
    font-style: italic;
}

.main-title::after{
    content: '.';
    color: black;
    font-size: 50px;
}

.article{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.title-secondary{
    font-size: 40px;
    color: #D6000D;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

.div2{  
    font-size: 22px;
    margin-top: 60px;
    text-align: left;
    margin-left: 60px;
    margin-right: 180px;
}

.img{
    width: 400px;
    height: auto;
    margin-left: 200px;
}

.button._second{
    margin: 0px;
}

.paragraph{
    font-size: 20px;
    font-weight: bold;
}

.section{
    font-family: 'Roboto', sans-serif;
}